
html{

    height: 125%;
}
body{

    position: relative;
    min-height: 125%;
}
/* product item css*/


/*End product item css/

/*Override css's*/




.bg-light{
    background-color: #0D6EFD!important;
}

.pointer{
    cursor: pointer;
}


.margin-top{

    margin-top: 20px;
}
.feature-image{
 
    max-height: 200px;

}
.footer-buttom {
    padding: 25px;
    margin-top: 20px;
    background: #0D6EFD;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}